@model List<MVC.Models.Skate>
@{
    ViewBag.Title = "Tabela";

}
<main>
    <table>
        <thead>

            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Modelo</td>
                <td>Marca</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var pudim in Model)
            {
                <tr>
                    <th>@pudim.Id</th>
                    <th>@pudim.Nome</th>
                    <th>@pudim.Modelo</th>
                    <th>@pudim.Marca</th>
                    <td>
                        <a href="/Home/Editar/@pudim.Id">Editar</a> |
                        <a href="/Home/Deletar/@pudim.Id">Excluir</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</main>